@model WebMyMvc.Models.ViewModels.UserChangePwdModel;
@{
    ViewData["Title"] = "ChangePwd";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>

<div class="wow bounceInUp" style="margin-top:40px" data-wow-delay="0.5s">
    <div class="container">
        <label style="font-size:20px">@ViewBag.Message</label>
        <div class="p-5 bg-light rounded contact-form">
            <div class="row g-4">
                <div class="col-12">
                    <h1 class="display-5 mb-0">
                        Change Password!
                    </h1>
                </div>
                <div class="col-md-6 col-lg-7">
                    <p class="mb-4">會員密碼更改</p>
                    <form asp-action="MemberChangePwd" asp-controller="MemberChange" method="post">
                        <input type="password" class="w-100 form-control p-3 mb-4 border-primary bg-light" asp-for="OldPwd" placeholder="請輸入舊密碼(必填)" required />
                        <input type="password" class="w-100 form-control p-3 mb-4 border-primary bg-light" asp-for="NewPwd" placeholder="請輸入密碼(必填)" required/>
                        <input type="password" class="w-100 form-control p-3 mb-4 border-primary bg-light" asp-for="ConfirmNewPwd" placeholder="請再次輸入密碼(必填)" required/>
                        <div>
                            <button class="w-100 btn btn-primary form-control p-3 border-primary bg-primary rounded-pill" type="submit">確認送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Success != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: '密碼更新成功',
            text: '您的密碼已更新 請重新登入！',
            showConfirmButton: false,
            timer: 3000 // 3秒後自動關閉
        }).then(() =>{
            window.location.href = '/Login/Logout';
        });
    </script>
}


