@{
    ViewData["Title"] = "關於我們";
}


<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.5s">
    <div class="container">
        <div class="p-5 bg-light rounded contact-form">
            <p style="font-size:17px; color:black">
                從「天使」這個名字中，我們就可以顧名思義，看到這些來自『天上的使者』，他們原本所涵蓋的含意。英文的 “Angel” 一詞，其實是來自希臘文 “Angelos”，原意為「傳達訊息的使者」。有看過聖經記載的讀者相信對於這些使者們並不會陌生；不論是好消息或是壞消息，這些天上的使者是負責將上帝的消息傳達給人的重要角色。

                其實天使的來源，並不是從聖經裡面開始的。在早期的波斯（伊朗）神話裡面，就經常有提及守護著人類的聖靈，而這些守護靈的外觀，看起來就像是背負著翅膀的人。許多學者相信，這些長著翅膀的守護靈，對於形成後來人們心中天使的基本外貌，有著相當大的影響。<br /><br />

                其實古代波斯的宗教中，有著許多現代西方（以及回教）宗教神話中善惡勢力互相鬥爭的基本雛形。在波斯神話中，善與光明之神阿乎拉．馬茲怛（Ahura Mazda）的御座前，就有著七位稱為『Amesha Spentas』、相當類似於聖經中七大天使的神祇（也恰巧是七位）。而他們的主要任務，也是要對抗來自「惡」一方、跟隨著惡神阿利滿（Ahriman）的敵人『Daevas』。這個字，也就是我們今天西方「惡魔」（Devil）一詞的出處。<br /><br />

                猶太教、基督教與回教中的天使：<br />

                其實早期人們對於天使的想像，和今天我們大多數人心中，那一群從天而降，全身籠罩在神聖光輝中的使者，有著很大的差距。舉例來講，根據舊約聖經中人物，同時也是猶太人的始祖雅各（Jacob）的敘述，在他的夢中，天使是藉由架在地上、直通天國的天梯，才能夠在地面和天國之間兩邊跑。說實在的，這種想像其實一點也不怎麼吸引人。<br /><br />
                當然，也有許多人認為，天使一詞其實原意就是指一般傳遞訊息的使者而已，並非是人們想像中那些來自天上的聖靈。在希伯來文裡面，天使的原文為 “Malak”，也同樣是『使者』的意思。<br /><br />
                但不論如何，這些天使們在舊約聖經中為了貫徹上帝的意志所做的非凡表現，讓他們在信徒心中，得到了非常特殊的地位。<br /><br />
                對於承認舊約與新約聖經的基督教信者而言，這些負責上帝與人類之間溝通的使者，也擁有著相當重要的地位。<br /><br />
                回教中的天使所扮演的角色，除了其他兩個宗教中所提及的任務之外，也負責紀錄人們一生的善惡事蹟，並在他們死亡後入土的第一個晚上，來考驗他們的信仰。<br /><br />
                其實在三個宗教裡面所提及的使者，在對照這些宗教的文獻之後，看起來很像都在講同一些天使。它們之間的一個共通點，就是提到有關於七大天使的記載。雖然說三個宗教之間，有關七大天使到底是誰的認知有所出入，但是七大天使中的四人幾乎是不變的：米迦勒（Michael）、加百列（Gabriel）、拉斐爾（Raphael）、和烏列兒（Uriel）。<br /><br />
                舉例來說，聖母瑪莉亞懷胎時，帶來耶穌將誕生在人世間的使者，正是大天使加百列（Gabriel）。恰好有一就有二；除了在舊約聖經記載中向但以理（Daniel）告知有關於希伯來人將逃離巴比倫之外，出現在回教先知穆罕默德（Muhammad）眼前，告知他有關阿拉（Allah）存在的使者，也是大天使加百列。回教中的加百列和基督教的加百列，差別之處可能就在於名字的稱呼（『Gabriel』或是『Jibril』）。<br /><br />

                現代作品中所詮釋的天使：<br />
                在過去，作品中的天使往往也是扮演著人們熟悉之守護靈的角色。對於人類而言，這些來自天上的使者，經常幫助那些需要幫助的人，也讓善心人士好人有好報。這些作品往往都是強調天使樂於助人的一面，讓讀者或觀眾得到比較正面的啟示。<br /><br />
                但是在近代也有不少試圖從另一個擺脫宗教價值觀，試圖以與過去不同的角度，去探討天使的作品。這些作品往往會主動去挑戰傳統的「善」與「惡」的觀念，而提出敏感的問題，像是「天使一定要站在人類這一邊嗎？」或「天使就一定是善良的存在嗎」之類。<br /><br />
            </p>
        </div>
    </div>
</div>
